@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

body {
  display: grid;
  grid-template-rows: auto 1fr;
}

body .content-grid-container {
  margin-top: 12px;
  display: grid;
  grid-template-columns: 1fr [col-start] repeat(5, 1fr) [col-end] 1fr;
}

.content-grid-container .content {
  grid-area: col;
}